[submodule "submodules/popsicle"]
	path = submodules/popsicle
	url = https://github.com/kunitoki/popsicle
	branch = dev/python_embedded_plugin
[submodule "submodules/popsicle/JUCE"]
	path = submodules/popsicle/JUCE
	url = https://github.com/juce-framework/JUCE
